<div ng-controller="myprofile" >

	
<header class="container-fluid nav-down">
		<div class="row">
			<nav class="navbar navbar-inverse">
				<div class="container no-padding">
				<ul class="nav navbar-nav top_header">
					<li class="menu_icon back_icon"><a ng-click="backtohome()" href="javascript:void(0)"   ><img style="width:13px;" src="assets/img/icon/back.png" id="asdf" alt="menu icon" /></a></li>
					<li class="logo_name"><a class="text-left back">PROFILE PICTURE</a></li>
					
				</ul>
				
				</div>
			</nav>
		
		</div>
		<!-- MOBILE-MENU-AREA END -->
	</header>
	<!-- END HEADER -->
			<div class="vision-listing pt-5 mt-50">
				<div class="profile-image">
					<div class="bg-profile-image" id="bckground">
						
				</div>
				<div class="circle">
				 <!-- User Profile Image -->
				 <img class="profile-pic" id="profilepic" src="assets/img/upload-pic1.png">
	
				 <!-- Default Image -->
				 <!-- <i class="fa fa-user fa-5x"></i> -->
			 </div>
			 <div class="p-image" ng-click="file_uploadss()">
				 <i class="fa fa-edit upload-button"></i>
					<button class="file-upload" ></button>
			 </div>
			 
			</div>
			<div class="save-profile">
				<button class="save-bttn" ng-click="backtohome()">Save</button>
			</div>
			
					
		</div>


</div>