<div ng-controller="morning_focus">


  <header class="container-fluid nav-down" ng-init="get_morning_focus()">
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div class="container no-padding">
          <ul class="nav navbar-nav top_header">
            <li class="menu_icon back_icon"><a ng-click="back()" href="javascript:void(0)"><img style="width:13px;" src="assets/img/icon/back.png"
                  id="asdf" alt="menu icon" /></a></li>
            <li class="logo_name"><a class="text-left back">MORNING FOCUS</a></li>

          </ul>

        </div>
      </nav>

    </div>
    <!-- MOBILE-MENU-AREA END -->
  </header>
  <!-- END HEADER -->
  <!-- {{morningfocus/}} -->
  <div class="vision-listing mt-50">
    <div class="col-sm-12 col-xs-12" ng-if="truelist">
      <div class="vision-listing-content morning-img bg-color" id="detail_data_{{x.id}}"  ng-repeat="x in morningfocus" ng-click="focus_detail(x.id)">
        <div class="content-para">
          <!-- {{$index % 2}} -->
          <p>{{x.quotation_title | ucwords}}</p>
        </div>
        <div class="morning watch">
          <div class="clock">
            <img src="assets/img/morning-clock.png" style="height: 12px;">
          </div>
          <div class="time">
            <p style="font-size: xx-small;">{{x.set_time}}</p>
          </div>
        </div>
      </div>
      <!-- <div class="vision-listing-content morning-img bg-right bg-color2">
        <div class="content-para">
          <p>Fitness is not about being better than someone else..........Its about being better than you used to be.</p>
        </div>
        <div class="morning watch">
          <div class="clock">
            <img src="assets/img/morning-clock.png">
          </div>
          <div class="time">
            <p>10 am</p>
          </div>
        </div>
      </div> -->
      <!-- <div class="vision-listing-content morning-img bg-color3">
        <div class="content-para">
          <p>Fitness is not about being better than someone else..........Its about being better than you used to be.</p>
        </div>
        <div class="morning watch">
          <div class="clock">
            <img src="assets/img/morning-clock.png">
          </div>
          <div class="time">
            <p>10 am</p>
          </div>
        </div>
      </div> -->
      <!-- <div class="vision-listing-content morning-img bg-right bg-color4">
        <div class="content-para">
          <p>Fitness is not about being better than someone else..........Its about being better than you used to be.</p>
        </div>
        <div class="morning watch">
          <div class="clock">
            <img src="assets/img/morning-clock.png">
          </div>
          <div class="time">
            <p>10 am</p>
          </div>
        </div>
      </div> -->
    </div>
    <div   class="no_data_wrapper" ng-if = "!truelist">
        <div>
            <img src="img/no_data_found.png">
            <h3 class="text-center" >Not Found !!!</h3>
        </div>
    </div>
  </div>


  <script>

    $('.digit1 input').keyup(function () {
      if ($(this).val().length == $(this).attr("maxlength")) {
        $(this).next().focus();
      }
    });

  </script>
</div>