@media screen and (min-width: 375px) {
	
	
}
@media screen and (min-width: 410px) {
ul.info-video li a span.active-line {
    left: 50px;
}
	
}

@media screen and (min-width: 767px) {
.sign-up-form input {
    padding-top: 32px;
    padding-left: 45px;
    font-size: 22px;
}
.splash4 {
    background-size: 100% 100%;
}
.welcome-para {
    bottom: 50%;
}
.welcome-para p {
    font-size: 18px;
}
.splash1 {
    background-size: 100% 100%;
}
.splash2 {
    background-size: 100% 100%;
}
.splash3 {
    background-size: 100% 100%;
}
ul.info-video li a span.active-line {
    left: 152px;
	width: 5%;
}
.nav > li.logo_name {
    width: 95%;
}
ul.info-video li.logo_video a span.under-line {
    width: 4%;
    right: 253px;
}
.mui-textfield, .mui-select {
    padding-right: 60px;
}
.select-date-icon {
    width: 4%;
}
.morning-focus {
    min-height: 150px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px !important;
	width:100%;
}
.focus-cap-treat {
    background-size: 100%;
}
.self {
    width: 100%;
}
.leader-bussiness {
    width: 100%;
	margin-top:10px;
}
.sign-up-form input {
    padding-top: 64px;
    padding-left: 45px;
    font-size: 22px;
    padding-bottom: 20px;
}
.clock {
    width: 92%;
    display: inline-block;
    text-align: end;
}
.time {
    width: 7%;
    display: inline-block;
}
.mui-textfield, .reminder-select {
    margin-right: 0px;
}
.modal {
    width: 320px;
    height: 490px;
    display: block;
    position: relative;
    top: 38%;
    left: 30%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}



}



@media screen and (min-width: 1024px) {
.splash4 {
    background-size: 100% 100%;
}
.welcome-para {
    bottom: 50%;
}
.welcome-para p {
    font-size: 18px;
}
.splash1 {
    background-size: 100% 100%;
}
.splash2 {
    background-size: 100% 100%;
}
.splash3 {
    background-size: 100% 100%;
}
ul.info-video li a span.active-line {
    left: 210px;
	width: 5%;
}
.nav > li.logo_name {
    width: 95%;
}
ul.info-video li.logo_video a span.under-line {
    width: 4%;
    right: 253px;
}
.mui-textfield, .mui-select {
    padding-right: 60px;
}
.select-date-icon {
    width: 4%;
}
.morning-focus {
    min-height: 150px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
.focus-cap-treat {
    background-size: 100%;
}
.self {
    width: 100%;
}
.leader-bussiness {
    width: 100%;
	margin-top:10px;
}
.sign-up-form input {
    padding-top: 64px;
    padding-left: 45px;
    font-size: 22px;
    padding-bottom: 20px;
}
.clock {
    width: 94%;
    display: inline-block;
    text-align: end;
}
.time {
    width: 5%;
    display: inline-block;
}
.mui-textfield, .reminder-select {
    margin-right: 0px;
}
 .modal {
    width: 320px;
    height: 490px;
    display: block;
    position: relative;
    top: 38%;
    left: 30%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}



}





@media screen and (max-width: 768px) {


}

@media screen and (max-width: 690px) {
.all_cat_title_img
	{
	margin-top: 33px;
	}
	.all_cat_head_img 
	{
    padding-right: 11px;
    border-right: 3px solid #eee;
    display: table-cell;
    height: 109px;
    vertical-align: middle;
    width: 20%;
	}
	.all_cat_headings {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    border-right: 3px solid #eee;
    width: 67%;
	}
	.panel-title > a {
    width: 100%;
    display: flex;
    vertical-align: middle;
	}
	.all_cat_product_name 
	{
    font-size: 14px;
    }
    .all_cat_panelt.panel-title > a.collapsed:before {
    height: 28px;
	width: 28px;
    top: 42px;
    background-size: 28px 28px;
	}
	.all_cat_panelt.panel-title > a:before
	{
	height: 28px;
	width: 28px;
	top: 42px;
    background-size: 28px 28px;
	}
}

@media screen and (max-width: 430px) {
	.nav > li.cart_icon img {
		width: 20px;
	}
	.nav > li.menu_icon img {
		width: 20px;
	}
	.product_catg_section .section-heading {
		font-size: 15px;
	}
	.catg_overlay {
		font-size: 13px;
	}
	.product_catg_section .catg_product_container {
		box-shadow: 1px 1px 7px 1px #00000036;
	}
	.offer-img img{
		padding: 5px;
	}
	.nav > li.menu_icon {
		width: 10%;
	}
	.nav > li.cart_icon {
		width: 10%;
	}
	.all_cat_title_img
	{
	margin-top: 33px;
	}
	.all_cat_head_img 
	{
    padding-right: 11px;
    border-right: 3px solid #eee;
    display: table-cell;
    height: 109px;
    vertical-align: middle;
    width: 20%;
	}
	.all_cat_headings {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    border-right: 3px solid #eee;
    width: 67%;
	}
	.panel-title > a {
    width: 100%;
    display: flex;
    vertical-align: middle;
	}
	.all_cat_product_name 
	{
    font-size: 14px;
    }
    .all_cat_panelt.panel-title > a.collapsed:before {
    height: 28px;
	width: 28px;
    top: 42px;
    background-size: 28px 28px;
	}
	.all_cat_panelt.panel-title > a:before
	{
	height: 28px;
	width: 28px;
	top: 42px;
    background-size: 28px 28px;
	}

}

@media screen and (max-width: 380px) {
	.sub_add_product
	{
		width: auto;
	}
}

@media screen and (max-width: 374px) {
.coupon_container h5 {
    font-size: 12px;
}
}
@media screen and (max-width: 360px) {

.coupon_container h5 {
    font-size: 12px;
}
.action-step-days {
    width: 73%;
}
.action-step-time {
    width: 22%;
}
.modal {
    width: 300px;
    height: auto;
    display: block;
    position: relative;
    top: 42%;
    left: 8%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding-bottom: 35px;
}

}
@media screen and (max-width: 345px) {
.coupon_container h5 {
    font-size: 12px;
}
}
@media screen and (max-width: 338px) {
	.couponcode {
    width: 96px;
}
.measure-me button {
    width: 73%;
}
	.sub_add_product {
		width: 19%;
	}
	.nav > li.cart_icon {
		float: right;
		width: 10%;
	}
	.nav > li.page_name.left {
		width: 60%;
	}

}
@media screen and (max-width: 330px) {
.coupon_container h5 {
    font-size: 12px;
    line-height: 0.3em;
    margin: 5px 0px 0px 0px;
    vertical-align: middle;
}
.couponcode {
    width: 86px;
}

}
@media screen and (max-width: 324px) {
.coupon_container h5 {
    font-size: 12px;
    line-height: 0.3em;
    margin: 5px 0px 0px 0px;
    vertical-align: middle;
}
.couponcode {
    width: 86px;
}
.focus-splash-logo {
    top: 10%;
}
.welcome-para {
    bottom: 43%;
}
ul.info-video li.logo_video a span.under-line {
    right: 70px;
}
.self p,
.leader-bussiness p {
    font-size: 12px;
}
.action-step-time p {
    font-size: 10px;
    color: #fff;
}
.action-step-days p {
    font-size: 10px;
    color: #fff;
}
.modal {
    width: 278px;
    height: 477px;
    display: block;
    position: relative;
    top: 46%;
    left: 7%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


}