<div ng-controller="register">


  <div class="sign-up2">
    <div class="sign-up-logo">
      <div>
        <img src="assets/img/splash-logo.png">
      </div>

    </div>
    <form method="post" name="loginform" novalidate>
      <div class="sign-up-div mb-20 animatedParent animateOnce">
        <a href="javascript:void(0)" class="sign-up animated fadeInLeft">Sign up</a>
        <p>Lorem ipsum is a simply dummy text printing and ipsum</p>
      </div>
      <div class="input-container pr-20 pl-20 animatedParent animateOnce" id="sign_up">
        <div class="sign-up-form mb-20">
          <input type="text" value="" required name="fname" ng-model="fname" placeholder="First Name"
            class="animated fadeInRight">
          <img src="assets/img/Sign-Up-name.png" class="animated fadeInLeft">
        </div>
        <div class="sign-up-form mb-20">
          <input type="text" value="" required name="lname" ng-model="lname" placeholder="Last Name"
            class="animated fadeInRight">
          <img src="assets/img/Sign-Up-name.png" class="animated fadeInLeft">
        </div>
        <div class="sign-up-form mb-20">
          <input type="number" value="" required name="mobile_no" ng-model="mobile_no" placeholder="Phone No."
            class="animated fadeInRight">
          <img src="assets/img/Sign-Up-phone.png" class="mobile_img animated fadeInLeft">
        </div>
        <div class="sign-up-form mb-20">
          <input type="email" value="" required name="email_id" ng-model="email_id" placeholder="Email"
            class="animated fadeInRight">
          <img src="assets/img/Sign-Up-mail.png" class="animated fadeInLeft">
        </div>
        <div class="sign-up-form mb-20">
          <input type="password" value="" required name="password" ng-model="password" placeholder="Password"
            class="animated fadeInRight">
          <img src="assets/img/Sign-Up-pswrd.png" class="animated fadeInLeft">
        </div>
      </div>


      <!-- SUBMIT BUTTON -->
      <div class="sign-up-button mt-35 animatedParent animateOnce">
        <a href="javascript:void(0)"><button class="btn animated fadeInUp" ng-click="loginusers('loginform')">Sign up</button></a>
      </div>
    </form>

  </div>
</div>